# Tuples in Python

In [1]:
my_tuple = ('AI', 'ML', 'DS', 'DA', 'DS')
my_tuple

('AI', 'ML', 'DS', 'DA', 'DS')

In [2]:
# len() of my_tuple
len(my_tuple)

5

In [3]:
# accessing elements
print(my_tuple[2])
print(my_tuple[3])

DS
DA

In [4]:
# slicing in tuple
print(my_tuple[1:3])
print(my_tuple[::2])

('ML', 'DS')
('AI', 'DS', 'DS')

In [5]:
# count()
my_tuple.count('DS')

2

In [6]:
# index() : return first index of the value
print(my_tuple.index('DS'))
print(my_tuple.index('DS', 3, 5))      # additional parameters (element, start_index, end_index)

2
4

# Task6 - Add and remove the elements from a tuple.

In [7]:
tup1 = (1,2,3,4,5,'a','b','c')
tup1

(1, 2, 3, 4, 5, 'a', 'b', 'c')

### Adding values to the tuple

In [8]:
# Convert the tuple into list by using "list()"
list1 = list(tup1)
list1

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [9]:
# Add values to the list using "append()" or "extend()" or "insert()" methods
list1.append(True)          # adds boolean value (True) at the end 
list1.insert(5, 4.4)        # adds 4.4 at index 5
list1

[1, 2, 3, 4, 5, 4.4, 'a', 'b', 'c', True]

In [10]:
# Again convert list into tuple and print it !!
tup1 = tuple(list1)
tup1

(1, 2, 3, 4, 5, 4.4, 'a', 'b', 'c', True)

### Removing elements from the tuple

In [11]:
tup1

(1, 2, 3, 4, 5, 4.4, 'a', 'b', 'c', True)

In [12]:
# Convert the tuple into list by using "list()
list1 = list(tup1)
list1

[1, 2, 3, 4, 5, 4.4, 'a', 'b', 'c', True]

In [13]:
# Remove elements from the list using "pop()" or "remove()" method
list1.pop(5)            # deletes 4.4
list1.remove('c')       # deletes 'c'
list1

[1, 2, 3, 4, 5, 'a', 'b', True]

In [14]:
# Again convert list into tuple
tup1 = tuple(list1)
tup1

(1, 2, 3, 4, 5, 'a', 'b', True)